attrs
blis
certifi
cymem
docx2txt
idna
jsonschema
murmurhash
nltk
numpy
pandas
pdfminer.six
plac
preshed
pycryptodome
pyrsistent
python-dateutil
pytz
requests
six
sortedcontainers
spacy==3.7.2
srsly
textract
thinc
tqdm
gliner
torch
urllib3
wasabi