<!doctype html>
{% load static %}
{% load active %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Facebook Cards -->
  <meta property="og:description" content="A fun project to store my learning from each book that I read" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="{% static 'images/logomark.png' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Bookworm" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@omkarpathak27">
  <meta name="twitter:creator" content="Omkar Pathak">
  <meta name="twitter:title" content="Bookworm">
  <meta name="twitter:description" content="A fun project to store my learning from each book that I read">
  <meta name="twitter:creator" content="Omkar Pathak">
  <meta name="twitter:image:src" content="{% static 'images/logomark.png' %}">
  <meta name="twitter:domain" content="https://www.omkarpathak.in">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css"
    media="all" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="shortcut icon" href="{% static 'images/logomarkv2.ico' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: var(--bg-body);">
  {% include 'navbar.html' %}

  <div class="container-fluid p-0">
    {% include 'messages.html' %}

    {% block content %}
    {% endblock %}
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  {% block javascript %}{% endblock %}
</body>

</html>