{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-white sidebarNavigation" data-sidebarClass="navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        Resume Parser
    </a>
    <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link text-dark font-weight-bold">Hi, {{ user.username }}</span>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'homepage' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'homepage'%}">Homepage</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'resumes_list' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'resumes_list'%}">Data</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'chat_view' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'chat_view'%}">Chat</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'jd_matcher' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'jd_matcher'%}">JD Matcher</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>