absl-py==0.7.0
argcomplete==1.8.2
astor==0.7.1
backcall==0.1.0
beautifulsoup4==4.5.3
certifi==2018.10.15
chardet==2.3.0
cloudpickle==0.8.0
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dask==1.1.3
decorator==4.3.2
dill==0.2.8.2
distro==1.4.0
Django==2.2
django-crispy-forms==1.7.2
djangorestframework==3.9.3
doc2text==0.2.4
docx2txt==0.6
EbookLib==0.15
en-core-web-sm==2.0.0
future==0.17.1
gast==0.2.2
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.7
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
Keras==2.0.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.2.5
Markdown==3.0.1
matplotlib==3.0.2
mime==0.1.0
mock==2.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
networkx==2.2
nltk==3.4
numpy==1.15.4
object-detection==0.1
pandas==0.23.4
parso==0.3.4
pbr==5.1.3
pdfminer.six==20181108
pdftotree==0.4.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
plac==0.9.6
preshed==2.0.1
prompt-toolkit==2.0.9
protobuf==3.7.0
ptyprocess==0.6.0
pycryptodome==3.7.0
Pygments==2.3.1
PyMuPDF==1.14.10
pyparsing==2.3.0
PyPDF2==1.26.0
pyspellchecker==0.4.0
pytesseract==0.2.6
python-dateutil==2.7.5
python-docx==0.8.10
python-magic==0.4.15
python-pptx==0.6.5
pytz==2018.7
PyWavelets==1.0.2
PyYAML==5.1
regex==2018.1.10
requests==2.20.1
scikit-image==0.14.2
scikit-learn==0.20.1
scipy==1.1.0
selectivesearch==0.4
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
sortedcontainers==2.0.5
spacy==2.0.16
SpeechRecognition==3.6.3
sqlparse==0.3.0
tabula-py==1.3.1
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.24.2
Wand==0.5.1
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
xlrd==1.0.0
XlsxWriter==1.1.2
